doctype
html
	head
		title And that's why I don't like cricket
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="And that's why I don't like cricket")
		meta(name="author", content="Bob Fossil")
		style
			include a-little-to-the-left.css
	
	body
		#ytplayer
		script
			include bob-fossil.js